h1{
  background-color: grey;  
}
body{
    background-color: grey;
}
h1{
    font-size: x-large;color: white;
}
label{
    color: orange;
}
div{
    background-color: orange;
    width: 150px;height: 150px;
}
