body {
    background-color: grey;
}

h1 {
    background-color: grey; 
    font-size: 30px;
    color: white;
    margin: auto 10px;
}

label {
    color: orange;
}

div {
    background-color: orange;
    width: 140px;
    height: 140px;
    margin: 10px 20px;
}